* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* height: 100vh; */
  width: 20rem;
  margin: 15rem auto;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 3rem;
  -webkit-box-shadow: 10px 14px 9px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 14px 9px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 10px 14px 9px 0px rgba(0, 0, 0, 0.13);
}
select {
  margin-top: 20px;
}
p {
  margin-top: 1rem;
}
input {
  outline: none;
  border: 1px solid grey;
  padding: 5px;
}
/* p {
  display: block;
} */
h2 {
  margin-bottom: 12px;
}
